
// Custom css for this page

page-home {

}


// Global one's


// Heading title

.section-title{
	display: flex;
	align-items: center;
	font-size: 1.1em;
}


// Dashboard columns

.dashboard{
	&__summary{
		box-shadow: $shadow-1;
	}
}


// main title heading
.main-title{
	font-size: 1.25em;
}


// Summary section

.summary{
	display: flex;
	&__sidebar{
		flex: 1;
		box-shadow: $shadow-2;
	}
	&__content{
		flex: 1.7;
		@media screen and (min-width: 1400px) {
			flex: 2;
		}
		@media screen and (min-width: 1601px) {
			flex: 2.3;
		}
	}
}


// Week Left sidebar

.flex-row{
	display: flex;
	align-items: center;
}


// Current top level card

.current-card{
	&__header{
		justify-content: space-between;
		margin: 0 -20px;
		padding: 10px 20px 20px 20px;
    	border-bottom: 3px solid #eee;
    	position: relative;
	}
	.week-loader{
		position: absolute;
		bottom: -3px;
	    height: 3px;
	    background-color: color($colors,primary);
	    left: 0;
	    transition: all 0.8s ease;
	}
	&__body{
    	justify-content: center;
    	sub{
    		font-size: 0.55em;
    	}
	}
	&__footer{
    	justify-content: center;
    	text-align: center;
    	margin: 0 -20px;
    	border-top: 2px solid #f6f5f8;
	}
	.timing{
		flex: 1;
		text-align: center;
		font-size: 1.1em;
		.icon{
			vertical-align: middle;
		}
		&.in{
			border-right: 2px solid #f6f5f8;
		}
	}
}


// Custom icon

.custom-icon{
	display: inline-block;
	height: 28px;
	width: 24px;
	background-image: url('../assets/img/sprite.png');
	background-repeat: no-repeat;
	background-size: 240%;
	vertical-align: middle;
	&.indoor{
		background-position: -27px -96px;
	}
	&.outdoor{
		background-position: -32px -125px;
	}
	&.summary{
		width: 28px;
    	background-position: -24px -55px;
    	background-size: 180%;
	}
	&.flower{
		background-position: 0px 0;
    	width: 26px;
    	background-size: 200%;
	}
}



// Full week card

.full-card{
	&__header{
		justify-content: space-between;
	    margin: 0 -20px;
	    padding: 5px 20px;
	    background-color: #f8f8fa;
	    border-top: 2px solid #f6f5f8;
	    border-bottom: 2px solid #f6f5f8;
	    .icon{
	    	font-size: 1.6em;
	    }
	}
	.week-list{
		.week-container{
			min-height: inherit;
    		font-size: inherit;
    		color: inherit;
    		width: calc(100% + 40px);
    		margin-left: -20px;
    		padding: 0px 20px;
    		.item-inner{
    			padding: 0;
    			border: 0;
    			.label{
    				margin: 0;
    				padding: 0;
    			}
    		}
    		p{
    			font-size: 1.1em;
    		}
    		h6{
    			font-size: 1.5em
    		}
		}
		&__row{
			justify-content: space-between;
			margin: 0 -20px;
    		padding: 10px 20px;
		}
		&__time{
			.icon{
				font-size: 1.5em;
			}
		}
		.active{
			background-color: lighten(color($colors,primary),45%);
			border-left: 3px solid color($colors,primary);
			box-shadow: $shadow-3;
		}
	}
}

// Summary content

.day-detail{
	.detail-cols{
		flex: 1;
		text-align: center;
	}
}


// View More

.view-more{
	.button{
		height: inherit;
		width: 100%;
	}
	.button-inner{
		flex-direction: column;
	}
	.icon{
		font-size: 1.6em;
	}			
}















