<p font-weight-5 m-t-12 m-b-20>
    The Summary :</p>
<div class="day-detail flex-row" *ngIf="currentDay">
    <div class="day-detail__day detail-cols">
        <h6 m-t-10 m-b-12>{{day}}</h6>
        <span ion-text color="text">Day</span>
    </div>
    <div class="day-detail__start-time detail-cols">
        <p font-weight-5>{{currentDay.start_time}}</p>
        <span ion-text color="text">Start time</span>
    </div>
    <div class="day-detail__end-time detail-cols">
        <p font-weight-5>{{currentDay.end_time}}</p>
        <span ion-text color="text">End time</span>
    </div>
    <div class="day-detail__total-time detail-cols">
        <h6 m-t-10 m-b-12 ion-text color="primary">09:05<span class="xx-small">hrs</span></h6>
        <span ion-text color="text">Total time</span>
    </div>
</div>