summary-content {
    // ---------------------------
    // SUMMARY CONTENT -----------
    // ---------------------------
    .day-detail {
        border-bottom: 2px solid #f6f5f8;
        padding-bottom: 25px;
        .detail-cols {
            flex: 1;
            text-align: center;
        }
    }
}
