summary-content {
    // ---------------------------
    // SUMMARY CONTENT -----------
    // ---------------------------
    .day-detail {
        border-bottom: 2px solid #f6f5f8;
        padding-bottom: 32px;
        margin-top: 2.5em;
        .detail-cols {
            flex: 1;
            // text-align: center;
        }
    }
    @media screen and (min-width: 600px) and (max-width: 768px) {
        .day-detail{
            .detail-cols{
                margin-right: 1em;
            }
        }
    }
}
